@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d3d3d3;
}

.hamburger {
  width: 85%;
  margin: 0 auto;
  height: 50px;
  padding: 10px 0;
}

#header_section {
  background-image:  linear-gradient(
    rgba(253, 253, 253, 0.7),
    rgba(218, 218, 218, 0.8)
  ),
  url(./images/worship.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 102vh;
}

.wesing_header {
  width: 90%;
  margin: 0 auto;
}

#header_section .hello {
  color: #ec5242;
  font-weight: normal;
  font-size: 23px;
  padding-top: 10px;
}

#header_section .hello_capital {
  color: #e8240e;
  text-transform: uppercase;
  text-shadow: 3px 2px 2px rgba(140, 136, 136, 0.6);
  font-size: 40px;
  font-weight: bolder;
  line-height: 1.2;
  padding: 10px 0;
}

#header_section .intro_parag {
  border: 2px solid rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  margin: 40px 0 20px 0;
}

.wesing_date {
  line-height: 2;
  color: #333;
  font-weight: bold;
}

.wesing_date h2 i,
.wesing_date h3 i {
  margin-right: 10px;
}

.wesing_date p i {
  margin-right: 20px;
}

.wesing_date h3 {
  line-height: 1.2;
}

#project_schedule {
  width: 100%;
  height: 100%;
  background-color: #272a31;
  padding-top: 30px;
}

#project_schedule .main-program,
#wesing_guests .main-program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
}

.main-program h3 {
  color: #fff;
  font-size: 22px;
}

#project_schedule hr,
#wesing_guests hr {
  border: 0;
  border-top: 1px solid #ec5242;
}

.wesing_programs,
.guest_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 100%;
  margin-top: 25px;
}

.wesing_programs .program {
  width: 95%;
  margin: 0 auto;
  background: hsla(96, 100%, 94%, 0.1);
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 12px 0px rgba(69,66,66,0.75);
  -webkit-box-shadow: 4px 4px 12px 0px rgba(69,66,66,0.75);
  -moz-box-shadow: 4px 4px 12px 0px rgba(69,66,66,0.75);
}

.wesing_programs .program_2 {
  gap: 27px;
}

.wesing_programs i,
.wesing_programs h4 {
  align-self: center;
  justify-self: center;
}

.wesing_programs i {
  color: #fff;
}

.wesing_programs h4 {
  color: #ec5242;
}

.wesing_programs p {
  color: #fff;
  font-size: 14px;
}

.program_button {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
}

.program_button button {
  padding: 15px;
  background-color: #ec5242;
  color: #d3d3d3;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 3px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.program_button button:hover {
  background: linear-gradient(to right, #301917, #dd7569);
}

.program_button button:focus {
  background-color: #e8240e;
}
